#Switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#Switch button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 0;
  background-color: #ffffff;
  background-image: var(--switch-bg-url);
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  z-index: 1;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  animation: slide-out 0.2s;
}

#Switch button:hover {
  outline: 8px solid var(--stroke-color);
}

/* animações */
@keyframes slide-in {
  from {
    left: 0;
  }

  to {
    left: 55%;
  }
}

@keyframes slide-out {
  from {
    left: 55%;
  }

  to {
    left: 0%;
  }
}

& span {
  display: block;
  width: 64px;
  height: 24px;
  background-color: var(--switch-bg-url);
  border: 1px solid var(--stroke-color);
  border-radius: 999px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.light #Switch button {
  animation: slide-in 0.2s forwards;
}
