:root{  /*:root -> variáveis de css no tema original projetado (ligth) */
--font-raleway: "raleway", sans-serif;
/* Ligth theme */
--bg-primary: #f5f5f5;
--text-primary: #333;
--text-secondary: #666;
--text-placeholder: #a1a1a1;
--accent-color: #ff6b6b;
--shadow-color: #rgba(0, 0, 0, 0.1);
--shadow: 0px 2px 8px var(--shadow-color);
}

@media (prefers-color-scheme: dark){
/* Dark theme */
:root {
--bg-primary: #212426;
--text-primary: #333;
--text-secondary: #666;
--text-placeholder: #a1a1a1;
--accent-color: #ffa500;
--shadow-color: #rgba(0, 0, 0, 0.1);
--shadow: 0px 2px 8px var(--shadow-color);
}
}


body{
  font-family: var(--font-raleway);
  background: var(--bg-primary);
}